/* selector de tipo */
h2{
    color: royalblue;
    font-size: xx-large;
    text-align: center;
}
/* flexbox layout + selector de clase class*/
.list{
    display: flex;
    flex-flow: row wrap;
}

/* selecto de hijos */
ul > li{
    display: unset;
}

/* selector de ids */

#link{
    font-size: xx-large;
    color: black;
}

#container{
    display: flex;
    align-items: stretch;
}

#container > #left{
    color: aliceblue;
    background-color: rgb(158, 35, 35);
}

#container > #center{
    color:black;
    background-color: aliceblue;
}

#container > #right{
    color: beige;
    background-color: slategrey;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.one {
    grid-column: 1 ;
    grid-row: 1;
}
.two {
    grid-column: 2 ;
    grid-row: 1 ;
}
.three {
    grid-column: 3;
    grid-row: 1;
}
.four {
    grid-column: 1;
    grid-row: 2;
}
.five {
    grid-column: 2;
    grid-row: 2;
}

/* Modelo de caja  */
#Video{
    border: 2px solid rebeccapurple;
    padding: .5em;
    width: 100px;
    height: 30px;
    margin: 10px;
}